@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var userName = User.Identity?.Name ?? "Guest";
}

<div class="list-group">
    <a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)"
       asp-controller="Manage" asp-action="Index">
        Profile
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.EmailNavClass(ViewContext)"
       asp-controller="Manage" asp-action="Email">
        Email
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)"
       asp-controller="Manage" asp-action="ChangePassword">
        Password
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.SetPasswordNavClass(ViewContext)"
       asp-controller="Manage" asp-action="SetPassword">
        Set Password
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.PersonalDataNavClass(ViewContext)"
       asp-controller="Manage" asp-action="PersonalData">
        Personal Data
    </a>
</div>
